# Ignore local environment configurations
.env

# Ignore node_modules
node_modules/

# Ignore git directory
.git/

# Ignore development tool configurations
.vscode/

# Ignore all markdown files
*.md

# Ignore logs and temporary files
*.log
.tmp/